/* Please Make only Rhino and Zebra Blue */
#zebra, #rhino{
	color:  blue;
}
/* Please Make only Hufflepuff Gold */
#bestHouse {
	color: gold;
}
/* Please select Duck with the highest level of specificity possible */
article.areDucksDinosaurs > h2.likesToQuack,.fight10or100{
	color: purple;
}
/* Please select Rhino with the highest level of specificity possible */
#rhino{
	font-style: italic;
}