*{	box-sizing:  border-box;}
header, footer{
	width: 96vw;
	height:  10vh;
	border:  1px solid greenyellow;
	clear:  both;
}

section{

	heigh: 50vh;
}

div {
	float: left;
	width:  32vw;
	height: 60vh;
	border: 1px solid green
}
